#skills ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

#skills li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  display: inline-block;
}

#skills li::marker {
  /* list-style-image: 'url(/right-arrow.svg)', */
  padding-inline-start: '1ch';
  content: none;
}

#skills li.no-level {
  margin-left: 1rem;
}

#skills li.no-level::marker {
  /* list-style-image: 'url(/right-arrow.svg)', */
  padding-inline-start: '1ch';
  content: '👌 ';
}
